/*
google font: Lato
headings: #222
descriptions: #787d81

green: #32b64c
dark green: #3a8e52

grey: #e3e4e6
dark grey: #474E52
*/

* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #32b64c;
}
ul li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  font-style: bold;
}
